/* Lato Font Family */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-300-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-400-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-700-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-900-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

/* Roboto Slab */

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-300-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-400-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-500-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-600-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-700-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-800-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab/RobotoSlab-900-Black.ttf');
    font-weight: 900;
    font-style: normal;
}