* {
    margin: 0;
    padding: 0;
}

:root {
    --banner-color: #1C1C1D;
    --white: rgba(243 248 255);
    --pure-white: #FFF;
    --text-color: rgb(66, 84, 117);
    --complementary-color: #C596FF;
}

html {
    font-size: 62.5%;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: var(--white);
    scroll-behavior: smooth;
}

.header {
    height: 480px;
    display: flexbox;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/photos/portada.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__body {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
}

.header__body h1 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 7rem;
    max-width: 340px;
    margin: 0 auto;
    color: white;
    padding-bottom: 20px;
}

.header__body p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 2.7rem;
    color: var(--complementary-color);
    padding-bottom: 20px;
}

.header__social {
    width: fit-content;
    display: flex;
    margin: 20px auto 0;
}

.header__social-container {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid white;
}

.header__social-container .twitter {
    height: 45px;
    margin-top: -3.5px;
    margin-left: -7px;
}

.header__social-container .linkedin {
    height: 25px;
    width: 25px;
    margin-top: 6.8px;
    margin-left: 8.5px;
}

.header__social-container .instagram {
    height: 23px;
    width: 23px;
    margin-top: 8.6px;
    margin-left: 8.5px;
}

.header__social-container .github {
    height: 33px;
    width: 33px;
    margin-left: 3.5px;
    margin-top: 3px;

}

@media (min-width: 550px) {

    .header {
        height: 510px;
    }

    .header__body {
        padding-top: 100px;
    }

}

@media (min-width: 820px) {

    .header__body {
        padding-top: 110px;
    }

    .header>div:last-child {
        margin-right: 20px;
        margin-top: -100px;
    }

    .header__social {
        flex-direction: column;
        position: absolute;
        right: 5px;
        top: 380px;
    }

    .header__body h1 {
        font-size: 9.5rem;
        padding-bottom: 40px;
    }

    .header__body p {
        font-size: 3.5rem;
    }

}

/* About Section */

.about {
    padding: 60px 0;
    scroll-margin-top: 30px;
}

@media (min-width: 459px) {
    .about {
        padding: 80px 0;
    }
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about__container div {
    height: 100%;
}

.about__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.about__body h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 3.3rem;
    color: var(--complementary-color);
    white-space: pre-line;
}

.about__body p {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 20px 0 0;
    padding-bottom: 10px;
    line-height: 2.4rem;
    text-align: start;
}

.about__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.about__photo h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    width: 100%;
    font-size: 2.3rem;
    padding-bottom: 18px;
}

.about__photo p {
    width: fit-content;
    font-size: 1.8rem;
    color: var(--complementary-color);
}

.about__photo img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 30px;
    background: #e0e0e0;
    box-shadow: 20px 20px 40px #bebebe,
        -20px -20px 40px #ffffff;
}

@media (min-width: 458px) {
    .about__container {
        padding: 0 45px;
        justify-content: space-between;
        align-items: center;
    }

    .about__photo {
        padding: 0 40px;
    }

    .about__photo h2 {
        font-size: 2.3rem;
    }

}

@media (min-width: 768px) {
    .about__container {
        display: flex;
        flex-direction: row;
    }

    .about__container>div {
        max-width: 370px;
    }

    .about__container>div:first-child {
        max-width: 450px;

    }

    .about__body h2 {
        font-size: 5rem;
        white-space: pre-line;
    }

    .about__photo h2 {
        font-size: 3.1rem;
    }

}

/* Features */

.features {
    padding: 80px 0;
    width: 100%;
    background-color: var(--banner-color);
    display: flex;
}

.features__container {
    padding: 0 20px;
    margin: -60px auto 0;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

.features__card {
    min-width: 280px;
    max-width: 360px;
    margin-top: 60px;
    text-align: center;
    color: var(--pure-white);
}

.features__card>div:first-child {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(156, 87, 240);
    background: -moz-linear-gradient(0deg, rgba(156, 87, 240, 1) 0%, rgba(176, 116, 250, 1) 43%, rgba(197, 150, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(156, 87, 240, 1) 0%, rgba(176, 116, 250, 1) 43%, rgba(197, 150, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(156, 87, 240, 1) 0%, rgba(176, 116, 250, 1) 43%, rgba(197, 150, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9c57f0", endColorstr="#c596ff", GradientType=1);
    margin: 0 auto;
}

.features__card>div:first-child img {
    width: 30px;
    margin: 15px auto 0;
}

.features__card h2 {
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 20px;
}

.features__card p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-top: 20px;
}

.features__card a {
    color: var(--complementary-color);
    text-decoration: none;
}

.features__card .feature__card-link {
    font-size: 1.6rem;
    font-weight: 100;
    width: fit-content;
    color: var(--complementary-color);
    margin: 30px auto 0;
}

@media (min-width: 1101px) {

    .features {
        padding: 80px 0;
    }

    .features__container {
        flex-direction: row;
        margin-top: -60px;
    }

    .features__card {
        min-width: 290px;
        max-width: 350px;
        margin: 60px 20px 0;
        text-align: center;
        color: var(--pure-white);
        align-items: start;
    }
}

@media (min-width:1260px) {

    .features__card {
        margin: 60px 40px 0;
    }

}

/* Skills */

.skills {
    padding: 60px 0;
    background-color: var(--white);
    max-width: 1320px;
    margin: 0 auto;
    scroll-margin-top: 30px;
}

.skills__container {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

@media (min-width: 458px) {

    .skills__container {
        padding: 0 40px;
    }
}

@media (min-width: 445px) {

    .skills {
        padding: 80px 0;
    }
}

.skills__body h2 {
    font-family: 'Roboto Slab';
    font-size: 2.5rem;
}

.skills__body p {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2.8rem;
    max-width: 630px;
}

.skills__skills {
    margin: 40px auto 0;
    width: fit-content;
}

.skill__card {
    font-family: 'Roboto Slab';
    font-weight: 700;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}

.skill__card h2 {
    font-size: 3.3rem;
    color: var(--complementary-color);
}

.skill__card p {
    font-size: 1.9rem;
    padding-top: 20px;
    font-weight: 600;
}

@media (min-width: 769px) {

    .skills__body h2 {
        font-size: 4.1rem;
    }

    .skills__skills {
        margin: 40px auto 0;
    }

    .skill__card h2 {
        font-size: 5.3rem;
    }

    .skill__card p {
        font-size: 1.9rem;
    }

}

@media (min-width: 1025px) {

    .skills__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin: 0 40px; */
    }

    .skills__body {
        width: 65%;
        max-width: 830px;
    }

    .skills__skills {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        max-width: 430px;
        height: 100%;
        margin: 0;
        justify-content: center;
    }

    .skill__card {
        flex-basis: 50%;
        max-width: 150px;
        margin: 0 30px;
        box-sizing: border-box;
    }
}

/* Languaje */

.languaje {
    padding: 60px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/photos/languajes_background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.languaje__container {
    padding: 0 20px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    color: white;
}

.languaje__container h2 {
    font-family: 'Roboto Slab';
    font-size: 2.57rem;
    margin-bottom: 20px;
}

.languaje__languajes {
    display: flex;
    flex-direction: column;
}

.languaje__card {
    padding: 20px 0;
}

.languaje__card h3 {
    font-family: 'Roboto Slab';
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: var(--complementary-color);
}

.languaje__card p {
    font-weight: 400;
    font-size: 1.38rem;
    margin-bottom: 10px;
}

@media (min-width: 469px) {

    .languajes {
        padding: 80px 0;
    }

    .languajes h2 {
        margin-bottom: 50px;
    }

    .languaje__container {
        padding: 0 40px;
    }

}

@media (min-width: 769px) {

    .languaje__container h2 {
        font-size: 4.1rem;
    }

    .languaje__languajes {
        display: flex;
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;
    }

    .languaje__card {
        padding: 20px;
        width: 210px;
    }

}

/* Experience */

.experience {
    padding: 60px 0 0;
    scroll-margin-top: 30px;
}

.experience__container {
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 458px) {

    .experience {
        padding: 80px 0 0;
    }

    .experience__container {
        padding: 0 40px;
    }
}

.experience__container h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 2.55rem;
}

.experience__container>p {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2.5rem;
}

.experience__timeline {
    padding-top: 50px;
}

.timeline__card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 18px;
}

.timeline__card h3 {
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 1.97rem;
    margin-bottom: 22px;
}

.timeline__card p {
    font-family: 'Lato';
    font-weight: 400;
    white-space: pre-line;
    font-size: 1.77rem;
    line-height: 2.5rem;
    color: var(--text-color);
}

.experience__timeline>div:first-child {
    text-align: start;
}

.experience__timeline>div:last-child {
    margin-top: 40px;
    text-align: end;
}

.timeline__container .education h3::before {
    content: "1";
    position: absolute;

    font-size: 1.5rem;
    left: 10px;
    font-weight: 700;
    color: var(--complementary-color);
}

.timeline__container .work h3::before {
    content: "2";
    position: absolute;

    font-size: 1.5rem;
    left: 10px;
    font-weight: 700;
    color: var(--complementary-color);
}

@media (min-width:458px) {

    .experience__container {
        padding: 0 40px;
    }

    .timeline__container .education h3::before {
        font-size: 1.6rem;
        left: 18px;
        z-index: -1;
        background-color: var(--white);
        padding: 5px;
    }

    .timeline__container .work h3::before {
        font-size: 1.6rem;
        left: 18px;
        z-index: -1;
        background-color: var(--white);
        padding: 5px;
    }

}

@media (min-width: 601px) {

    .timeline__container {
        padding: 0 40px;
    }

    .experience__timeline::before {
        content: "";
        position: absolute;
        left: 27px;
        width: 1.7px;
        height: 210vw;
        max-height: 1680px;
        background-color: rgb(218, 218, 218);
        border-radius: 5px;
        z-index: -11;
    }
}

@media (min-width: 769px) {

    .experience__container>h2 {
        font-size: 4.1rem;
    }
}

@media (min-width: 1025px) {

    .experience__timeline::before {
        left: 50%;
        height: 100%;
    }

    .timeline__container {
        display: flex;
        justify-content: space-around;
    }

    .timeline__container>div {
        width: 50%;
    }

    .experience__timeline>div:last-child {
        display: flex;
        flex-direction: row-reverse;
    }

    .timeline__container>div {
        margin: 0 45px;
    }

    .timeline__container .education h3::before {
        font-size: 2rem;
        left: calc(50% - 10px);
    }

    .timeline__container .work h3::before {
        font-size: 2rem;
        left: calc(50% - 10px);
    }

}

/* Portfolio */
.portfolio {
    scroll-margin-top: 30px;
}

.portfolio__container {
    padding: 0 20px;
    font-weight: 800;
}

.portfolio__container h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    padding: 60px 0;
    font-size: 2.57rem;
    text-align: center;
}

@media (min-width: 458px) {

    .portfolio__container h2 {
        padding: 80px 0;
    }
}

@media (min-width: 789px) {
    .portfolio__container h2 {
        font-size: 4.1rem;
    }

}

.portfolio__projects {
    height: 300px;
    background-color: #1C1C1D;
    color: var(--complementary-color);
    font-size: 2.8rem;
    font-weight: 800;
    display: flex;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../photos/languajes_background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contact */

.contact {
    padding: 60px 0;
    background-color: var(--white);
    scroll-margin-top: 30px;
}

.contact__container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 458px) {
    .contact {
        padding: 80px 0;
    }

    .contact__container {
        padding: 0 40px;
    }
}

.contact__body {
    display: flex;
    flex-direction: column;
}

.contact__body h2 {
    font-family: 'Roboto Slab';
    font-size: 2.37rem;
    margin-bottom: 20px;
}

.contact__body p,
.contact__body a {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.38rem;
    line-height: 2.4rem;
    color: #1C1C1D;
    text-decoration: none;
    margin-top: 10px;
}

.contact__body-media {
    width: fit-content;
    margin: 30px auto 0;
}

.contact__body-media h3 {
    font-size: 1.77rem;
    font-weight: 100;
    margin-bottom: 10px;
}

.social_media {
    display: flex;
    justify-content: center;
}

.social_media a {
    width: 22px;
    height: 22px;
    margin: 10px;
}

.contact__container form {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
}

.contact__container form input {
    font-weight: 400;
    height: 46px;
    padding: 0 45px 0 25px;
    border-radius: 25px;
    font-size: 1.6rem;
    margin-top: 20px;
    border: 1px solid rgb(152, 152, 152);
}

.contact__container form input:focus,
.contact__container form textarea:focus {
    outline: none;
    outline: 2px solid var(--complementary-color);
}

/* ESPACIO PARA AGREGAR ASTERISCOS */

.contact__container form textarea {
    font-weight: 400;
    height: 156px;
    padding: 20px;
    border-radius: 25px;
    font-size: 1.8rem;
    margin-top: 20px;
    border: 1px solid rgb(152, 152, 152);
    resize: none;
    font-family: 'Lato';
}

.contact__container form button {
    font-family: 'Lato';
    width: 110px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 35px;
    margin: 25px auto 0;

    background: rgb(152, 68, 255);
    background: -moz-linear-gradient(0deg, rgba(152, 68, 255, 1) 0%, rgba(169, 101, 254, 1) 38%, rgba(176, 116, 251, 1) 63%, rgba(199, 155, 252, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(152, 68, 255, 1) 0%, rgba(169, 101, 254, 1) 38%, rgba(176, 116, 251, 1) 63%, rgba(199, 155, 252, 1) 100%);
    background: linear-gradient(0deg, rgba(152, 68, 255, 1) 0%, rgba(169, 101, 254, 1) 38%, rgba(176, 116, 251, 1) 63%, rgba(199, 155, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9844ff", endColorstr="#c79bfc", GradientType=1);

    border: none;
    color: white;
    box-shadow:
        0.6px 2.1px 1.2px rgba(0, 0, 0, 0.029),
        0.8px 2.5px 2.7px rgba(0, 0, 0, 0.043),
        0.9px 2.9px 4.6px rgba(0, 0, 0, 0.054),
        1px 3.5px 6.9px rgba(0, 0, 0, 0.062),
        1.3px 4.4px 10px rgba(0, 0, 0, 0.07),
        1.7px 5.6px 14.2px rgba(0, 0, 0, 0.078),
        2.2px 7.4px 20.1px rgba(0, 0, 0, 0.086),
        3px 10px 29.2px rgba(0, 0, 0, 0.097),
        4.1px 13.8px 45px rgba(0, 0, 0, 0.111),
        6px 20px 80px rgba(0, 0, 0, 0.14);

}

.contact__container form button:hover {
    background: rgb(197, 150, 255);
    background: -moz-linear-gradient(0deg, rgba(197, 150, 255, 1) 0%, rgba(197, 150, 255, 1) 38%, rgba(205, 164, 255, 1) 63%, rgba(219, 189, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(197, 150, 255, 1) 0%, rgba(197, 150, 255, 1) 38%, rgba(205, 164, 255, 1) 63%, rgba(219, 189, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(197, 150, 255, 1) 0%, rgba(197, 150, 255, 1) 38%, rgba(205, 164, 255, 1) 63%, rgba(219, 189, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c596ff", endColorstr="#dbbdff", GradientType=1);
}


.contact__container form button:active {
    background: rgb(166, 93, 255);
    background: -moz-linear-gradient(0deg, rgba(166, 93, 255, 1) 0%, rgba(171, 104, 252, 1) 10%, rgba(157, 80, 252, 1) 40%, rgba(132, 35, 249, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(166, 93, 255, 1) 0%, rgba(171, 104, 252, 1) 10%, rgba(157, 80, 252, 1) 40%, rgba(132, 35, 249, 1) 100%);
    background: linear-gradient(0deg, rgba(166, 93, 255, 1) 0%, rgba(171, 104, 252, 1) 10%, rgba(157, 80, 252, 1) 40%, rgba(132, 35, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a65dff", endColorstr="#8423f9", GradientType=1);
}

.contact__container form button:disabled {
    background: rgb(133, 74, 204);
    background: -moz-linear-gradient(0deg, rgba(133, 74, 204, 1) 0%, rgba(137, 83, 202, 1) 10%, rgba(126, 63, 202, 1) 40%, rgba(106, 29, 196, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(133, 74, 204, 1) 0%, rgba(137, 83, 202, 1) 10%, rgba(126, 63, 202, 1) 40%, rgba(106, 29, 196, 1) 100%);
    background: linear-gradient(0deg, rgba(133, 74, 204, 1) 0%, rgba(137, 83, 202, 1) 10%, rgba(126, 63, 202, 1) 40%, rgba(106, 29, 196, 1) 100%);
}

@media (min-width: 501px) {

    .contact__container form {
        min-width: 400px;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .contact__container {
        display: flex;
        flex-direction: row;
    }

    .contact__container>div {
        width: 43%;
    }

    .contact__body h2 {
        font-size: 3.1rem;

    }

    .contact__container form {
        margin: 0 0 0 auto;
    }

    .contact__container form>input:first-child {
        margin-top: 0;
    }

    .contact__container form input {
        width: 328px;
        height: 48px;
    }

    .contact__container form button {
        margin-right: 0;
    }

    .contact__body-media {
        margin: 30px 0 0;
    }

}

/* Footer */

.footer {
    /* padding: 50px 0 20px; */
    padding: 50px 0;
    background-color: var(--banner-color);
}

.footer__container {
    padding: 0 20px;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__items a {
    color: white;
    padding: 10px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.35s ease;
}

.footer__items a:hover {
    color: #939393;
}