* {
    margin: 0;
    padding: 0;
}

:root {
    --banner-color: rgba(21 21 22);
    --white: rgba(246 249 255);
    --text-color: rgb(66, 84, 117);
    --complementary-color: #C596FF;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    height: 2500px;
    background-color: var(--white);
}

.header {
    height: 480px;
    display: flexbox;
    background-image: url(../photos/portada.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__body {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
}

.header__body h1 {
    font-size: 8rem;
    max-width: 340px;
    margin: 0 auto;
    color: white;
    padding-bottom: 20px;
}

.header__body p {
    font-size: 3rem;
    color: var(--complementary-color);
    padding-bottom: 20px;
}

.header__social {
    width: fit-content;
    display: flex;
    margin: 20px auto 0;
}

.header__social-container {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid white;
}

@media (min-width: 550px) {

    .header {
        height: 510px;
    }

    .header__body {
        padding-top: 100px;
    }

}

@media (min-width: 820px) {

    .header__body {
        padding-top: 110px;
    }

    .header>div:last-child {
        margin-right: 20px;
        margin-top: -100px;
    }

    .header__social {
        flex-direction: column;
    }

    .header__body h1 {
        font-size: 9.5rem;
        padding-bottom: 40px;
    }

    .header__body p {
        font-size: 3.5rem;
    }

}

/* About Section */

.about {
    padding: 60px 0;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about__container div {
    height: 100%;
}

.about__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.about__body h2 {
    font-size: 3.3rem;
    color: var(--complementary-color);
    font-weight: 700;
}

.about__body p {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 20px 0 0;
    padding-bottom: 10px;
    line-height: 2.4rem;
    text-align: start;
}

.about__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.about__photo h2 {
    width: 100%;
    font-size: 2.3rem;
    padding-bottom: 18px;
}

.about__photo p {
    width: fit-content;
    font-size: 1.8rem;
    color: var(--complementary-color);
}

.about__photo img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 30px;
}

@media (min-width: 458px) {
    .about__container {
        padding: 0 45px;
        justify-content: space-between;
        align-items: center;
    }

    .about__photo {
        padding: 0 40px;
    }

    .about__photo h2 {
        font-size: 2.3rem;
    }

}

@media (min-width: 768px) {
    .about__container {
        display: flex;
        flex-direction: row;
    }

    .about__container>div {
        max-width: 370px;
    }

    .about__body h2 {
        font-size: 5.3rem;
    }

    .about__photo h2 {
        font-size: 3.1rem;
    }

}

/* Features */

.features {
    height: 540px;
    width: 100%;
    background-color: var(--banner-color);
}